---
layout: default
permalink: projects
---

<div class="content">
  <div class="search">
    <span class="search__desc">
      <input
        id="search"
        class="search__input"
        placeholder="정보기술"
        spellcheck="false"
      />
      <span id="question">로 세상을 바꿉니다.</span>
    </span>
  </div>

  <div class="projects">
    {% for project in site.projects %}
      <a href="{{ project.github }}" target="_blank">
        <div class="project">
          <div class="project__meta">
            <span class="project__title">
              {{ project.title }}
            </span>
            <span class="project__summary">
              {{ project.summary }}
            </span>
          </div>
          {% if project.cover %}
            {% assign object_fit = 'cover' %}
          {% else %}
            {% assign object_fit = 'contain' %}
          {% endif %}
          <img
            class="project__image"
            src="{{ project.image }}"
            style="object-fit: {{ object_fit }}"
          >
          <div class="project__content">
            {{ project.content }}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>

  <div
    id="contact"
    class="no-result"
  >
    <span class="no-result__title">
      검색결과가 없습니다.
    </span>
    <a
      href="mailto:hanaro0704@naver.com"
      class="no-result__contact"
    >
      <i class="far fa-envelope-open"></i>
      함께하고 싶은 프로젝트가 있나요?
    </a>
  </div>
</div>

<style>
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>

<script src="{{ base.url | prepend: site.url }}/assets/scripts/searchProject.js"></script>
