<nav class="navbar">
  <ul class="navbar__menu">
    {% assign current = page.url | split: '.' %}
    <a 
      href="{{ site.baseurl }}/"      
      class="navbar__menu-item {% if current.first == '/' %}active{% endif %}"
    >
      <li>글</li>
    </a>
    <a
      href="{{ site.baseurl }}/projects"
      class="navbar__menu-item {% if current.first == '/projects' %}active{% endif %}"
    >
      <li>프로젝트</li>
    </a>
    <a
      href="{{ site.baseurl }}/about"
      class="navbar__menu-item {% if current.first == '/about' %}active{% endif %}"
    >
      <li>소개</li>
    </a>
  </ul>
</nav>
