<div class="profile-container">
  <div class="profile">
    <img class="profile__thumbnail" src="https://github.com/{{ site.owner.github }}.png" />
    <div class="profile__info">
      <h1 class="profile__name">{{ site.owner.name }} <i class="fas fa-coffee"></i></h1>
      <p class="profile__intro">
        {% for line in site.owner.intro %}
          {{ line }}<br />
        {% endfor %}
      </p>

      <span class="profile__tag">@junhoyeo</span> 
      <div class="profile__social">
        <a href="https://github.com/{{ site.owner.github }}" target="_blank">
          <i class="icon fab fa-github-square"></i>
        </a>
        <a href="https://facebook.com/{{ site.owner.facebook }}" target="_blank">
          <i class="icon fab fa-facebook-square"></i>
        </a>
      </div>
    </div>
  </div>
</div>
