.about {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 100%;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__button {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 1rem 1.5rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: #e5322d;
    color: #fff;
    border: 5px solid #a0231f;
    transition: all 0.3s;

    i {
      margin-right: 0.5rem;
    }

    &:hover {
      color: rgb(243, 243, 243);
      background-color: #ce2d28;
    }
  }
}
