.about {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 100%;
  font-size: 1.2em;

  &__stacks {
    margin-top: 0.2rem;
  }

  &__content {
    p {
      margin: 0;
    }
    
    ul {
      margin: 0;
      padding-left: 2.5rem;
      padding-right: 0.5rem;
    }
  }
}

.stacks {
  position: relative;
  padding-bottom: 0.01rem;
  margin-bottom: 1rem;

  &__title {
    margin: 0;
    margin-bottom: 0.5rem;
  }

  &__desc {
    margin: 0;
    margin-bottom: 0.8rem;
  }

  &__list {
    display: grid;
    grid-column-gap: 0.3rem;
    grid-row-gap: 0.3rem;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    margin-bottom: 2.5rem;
  }
}

.stack {
  height: 5rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 5px 32px -15px rgba(21, 19, 19, 0.2);

  &__logo {
    height: 3rem;
    width: auto;
    user-select: none;
    -webkit-user-drag: none;
  }

  &__logo.horiz {
    width: 3rem;
    height: auto;
  }

  &:hover {
    transform: scale(1.1);
  }
}
