html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  min-height: 100vh;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}

a {
  color: unset;
  text-decoration: none;
  transition: all 0.4s;
}
