.post {
  flex: 1 1;
  width: 100%;
  margin-bottom: 4rem;

  &__meta {
    display: flex;
    align-items: center;
    padding-top: 0.8rem;
  }

  &__profile {
    height: 2rem;
    width: 2rem;
    margin-left: 0.5rem;
    object-fit: cover;
    border-radius: 50%;
  }

  &__title, &__content {
    font-family: 'Nanum Myeongjo', serif;    
  }

  &__title {
    margin: 0;
    font-weight: 800;
    font-size: 2.5rem;
  }

  &__content {
    a {
      color: $brand;
    }

    a:hover,
    a:active {
      text-decoration: underline;
    }

    p {
      line-height: 1.5;
      font-size: 1.2rem;
    }

    blockquote {
      margin: 0;
      padding-left: 0.8rem;
      border-left: 0.25em solid $gray-4;
      color: $gray-6;
    }
  }
}
