.profile-container {
  display: flex;
  justify-content: center;
}

.profile {
  display: flex;
  margin-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;

  &__thumbnail {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 15px 15px 32px -18px rgba(21,19,19,.07);
    border: 1px solid $gray-2;
  }

  &__info {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    margin-left: 1rem;
  }

  &__name {
    margin: 0;
    margin-top: 3rem;
    font-size: 2.5rem;
    color: $gray-9;
  }

  &__intro {
    margin: 0;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    line-height: 1.5;
    border-top: 1px solid $gray-4;
    color: $gray-7;
    font-size: 1em;
  }

  &__tag {
    color: $brand-7;
  }

  &__social {
    margin-top: 1rem;
    display: flex;
  }

  &__social .icon {
    color: $gray-7;
    font-size: 2.5rem;
    transition: color 0.4s;
  }

  &__social .icon:hover,
  &__social .icon:active {
    color: $brand-7;
  }

  &__social a+a {
    margin-left: 0.5em;
  }

  @media (max-width: 550px) {
    flex-direction: column;
    align-items: center;

    &__info {
      margin-left: 0;
    }

    &__name {
      margin-top: 1rem;
    }
  }
}
