.search {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;

  &__desc {
    color: #4c6ef5;
    font-size: 1.7rem;
    width: 100%;
    word-break: keep-all;
    text-align: right;
    margin-right: 1.5rem;
  }

  // &__bar {
  //   width: 100%;
  //   border-radius: 10px;
  //   display: flex;
  //   box-shadow: -10px 5px 32px -15px rgba(21, 19, 19, 0.2);
  //   padding: 0.8rem;
  //   padding-left: 1.2rem;
  //   padding-right: 1.2rem;
  // }

  &__input {
    // width: 100%;
    // font-size: 1.5rem;
    font-size: 1.7rem;
    box-sizing: border-box;
    border: none;
    outline: none;
    caret-color: $brand;
    color: #343a40;

    border-bottom: 2px solid $brand;
    text-align: center;
  }

  &__input::placeholder {
    color: $gray-4;
  }

  &__input:focus {
    outline: none;
  }

  // .fa-search {
  //   font-size: 1.8rem;
  //   padding-right: 0.8rem;
  //   color: $brand;
  // }

  @media (max-width: 900px) {
    width: 100%;

    &__desc {
      text-align: left;
      margin: 0;
    }
  }

  @media (max-width: 600px) {
    width: 100%;
    flex-direction: column;

    // &__bar {
    //   width: auto;
    //   margin-top: 1rem;
    // }
  }
}
