.tags-container {
  flex-shrink: 0;
  width: 10rem;
}

.tags {
  margin-top: 2rem;

  &__title {
    font-size: 1.5rem;
  }

  &__list {
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    list-style: none;
  }

  &__tag {
    cursor: pointer;
  }

  &__tag-name {
    font-weight: 500;
    font-size: 1.5em;
    color: $gray-6;
  }

  &__tag-num {
    font-weight: 300;
    font-size: 1.2em;
    color: $gray-6;
  }

  &__tag:hover > .tags__tag-name {
    color: $gray-7;
  }

  &__tag:hover > .tags__tag-num {
    color: $gray-7;
    font-weight: 400;
  }
}
