---
layout: default
---

<div class="about">
  <div class="about__content">
    {{ content }}
  </div>
  <div class="about__stacks">
    <div class="stacks">
      <h1 class="stacks__title">개발</h1>
      <div class="stacks__list">
        {% for stack in site.data.stacks.development %}
          <div class="stacks__row">
            <div class="stack">
              <img
                class="stack__logo {% if stack.horiz %}horiz{% endif %}"
                src="/assets/images/stacks/development/{{ stack.src }}"
              >
            </div>
            <div class="stacks__info">
              <h1 class="stacks__info-title">
                {{ stack.title }}
              </h1>
              <span class="stacks__info-desc">
                {{ stack.desc }}
              </span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="stacks">
      <h1 class="stacks__title">데브옵스</h1>
      <div class="stacks__list">
        {% for stack in site.data.stacks.devops %}
          <div class="stacks__row">
            <div class="stack">
              <img
                class="stack__logo {% if stack.horiz %}horiz{% endif %}"
                src="/assets/images/stacks/devops/{{ stack.src }}"
              >
            </div>
            <div class="stacks__info">
              <h1 class="stacks__info-title">
                {{ stack.title }}
              </h1>
              <span class="stacks__info-desc">
                {{ stack.desc }}
              </span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="stacks">
        <h1 class="stacks__title">협업</h1>
        <div class="stacks__list">
          {% for stack in site.data.stacks.collaboration %}
            <div class="stacks__row">
              <div class="stack">
                <img
                  class="stack__logo {% if stack.horiz %}horiz{% endif %}"
                  src="/assets/images/stacks/collaboration/{{ stack.src }}"
                >
              </div>
              <div class="stacks__info">
                <h1 class="stacks__info-title">
                  {{ stack.title }}
                </h1>
                <span class="stacks__info-desc">
                  {{ stack.desc }}
                </span>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
  </div>
</div>
