---
layout: default
---

<div class="about">
  <div class="about__stacks">
    <div class="stacks">
      <h1 class="stacks__title">개발</h1>
      <p class="stacks__desc">개발은 어쩌고.</p>
      <div class="stacks__list">
        {% for stack in site.data.stacks.development %}
          <div class="stack">
            <img
              class="stack__logo {% if stack.horiz %}horiz{% endif %}"
              src="/assets/images/stacks/development/{{ stack.src }}"
            >
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="stacks">
      <h1 class="stacks__title">데브옵스</h1>
      <p class="stacks__desc">데브옵스는 저쩌고.</p>
      <div class="stacks__list">
        {% for stack in site.data.stacks.devops %}
          <div class="stack">
            <img
              class="stack__logo {% if stack.horiz %}horiz{% endif %}"
              src="/assets/images/stacks/devops/{{ stack.src }}"
            >
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="about__content">
    {{ content }}
  </div>
</div>
